body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body a {
  text-decoration: none;
}

@media screen and (max-width: 1537px) {
  .navbar {
    display: flex;
    justify-content: center;
    width: 1519px;
    height: 70px;
    background-color: whitesmoke;
    /* margin-left: 10px; */
    position: sticky;
    top: 0;
  }

  .opt {
    margin-left: -70px;
    margin-top: 10px;
  }

  .logo {
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 120px;
  }

  .navbars {
    list-style: none;
    display: flex;
    /* justify-content: center; */
    margin-left: -73px;
    margin-right: -150px;
    margin-top: 6px;
    font-size: 18px;
    width: 610px;
  }

  .s1 {
    margin-left: 178px;
    margin-top: -20px;
    width: 500px;
    padding-left: 0px;
  }

  .navbars p {
    color: black;
  }

  .navbars p:hover {
    text-decoration: underline;
  }

  li {
    margin-left: 60px;
  }

  .searchbar {
    width: 300px;
    height: 30px;
    margin-left: 40px;
    margin-top: 38px;
    border-top: none;
    border-right: none;
    border-left: none;
    color: grey;
    background-color: whitesmoke;
    font-size: 16px;
  }

  .searchbar:focus {
    outline: none;
  }

  .searchbar:placeholder-shown {
    padding-left: 10px;
  }

  .opt1 {
    width: 30px;
    height: 30px;
    margin-left: 80px;
    margin-top: 10px;
    cursor: pointer;
  }

  .opt2 {
    margin-left: 10px;
    margin-top: 9px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: none;
  }

  .logo1 {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-top: 10px;
  }

  .title1 {
    font-size: 20px;
    margin-left: 50px;
    margin-top: -33px;
    color: black;
  }

  .last1 {
    margin-left: 350px;
    margin-top: -63px;
    width: 150px;
  }

  .searchs {
    margin-top: 32px;
    margin-left: -40px;
    width: 25px;
    height: 25px;
  }

  .cartlogo {
    margin-top: 30px;
    margin-left: 50px;
    width: 25px;
    height: 25px;
  }

  .casual {
    width: 1519px;
    height: 668px;
    background-color: white;
    margin-top: -21px;
  }

  .open {
    margin-left: 100px;
    margin-top: -20px;
    font-size: 20px;
  }

  .collect {
    margin-left: 100px;
    padding-top: 30px;
    font-size: 30px;
  }

  .shirt {
    width: 295px;
    height: 295px;
    margin-top: 40px;
    margin-left: 92px;
    border: 7px solid #f8f8f8;
    border-radius: 10px;
  }

  .shirt2 {
    width: 295px;
    height: 295px;
    margin-top: -308px;
    margin-left: 432px;
    border: 7px solid #f8f8f8;
    border-radius: 10px;
  }

  .shirt3 {
    width: 295px;
    height: 295px;
    margin-top: -308px;
    margin-left: 772px;
    border: 7px solid #f8f8f8;
    border-radius: 10px;
  }

  .shirt4 {
    width: 295px;
    height: 295px;
    margin-top: -308px;
    margin-left: 1112px;
    border: 7px solid #f8f8f8;
    border-radius: 10px;
  }

  .sh1 {
    margin-top: 10px;
    margin-left: 10px;
    width: 277px;
    height: 278px;
  }

  .sh2 {
    margin-top: 10px;
    margin-left: 10px;
    width: 277px;
    height: 278px;
  }

  .sh3 {
    margin-top: 10px;
    margin-left: 10px;
    width: 277px;
    height: 278px;
  }

  .sh4 {
    margin-top: 10px;
    margin-left: 10px;
    width: 277px;
    height: 278px;
  }

  /* .tit1 {
    margin-left: 10px;
    margin-top: 0px;
    font-size: 25px;
    color: black;
} */

  .lt1 {
    text-decoration: line-through;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 10px;
    font-weight: 400;
    color: #646262;
  }

  .pr1 {
    font-size: 30px;
    margin-left: 10px;
    margin-top: -10px;
    margin-bottom: 0px;
    color: #000000;
    font-weight: 600;
  }

  .carts {
    box-sizing: border-box;
    background: white;
    color: black;
    margin-top: 7px;
    margin-left: 25px;
    width: 110px;
    height: 31px;
    cursor: pointer;
    border-radius: 15px;
  }

  .by {
    box-sizing: border-box;
    background: white;
    color: black;
    margin-top: 7px;
    margin-left: 10px;
    width: 110px;
    height: 31px;
    cursor: pointer;
    border-radius: 15px;
  }

  .carts:hover {
    color: white;
    background-color: black;
    text-decoration: underline;
  }

  .by:hover {
    color: white;
    background-color: black;
    text-decoration: underline;
  }



  .info2 {
    margin-left: 10px;
    margin-top: 4px;
    font-size: 16px;
    color: #483333;
  }

  .info1 {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 18px;
    margin-bottom: 0px;
  }

  .diwali {
    width: 1519px;
    height: 518px;
    background-color: white;
    margin-top: -21px;
  }

  .kurta {
    width: 295px;
    height: 295px;
    margin-top: 0px;
    margin-left: 92px;
    border: 7px solid #f8f8f8;
    border-radius: 10px;
  }

  .kurta2 {
    width: 295px;
    height: 295px;
    margin-top: -308px;
    margin-left: 433px;
    border: 7px solid #f8f8f8;
    border-radius: 10px;
  }

  .kurta3 {
    width: 295px;
    height: 295px;
    margin-top: -308px;
    margin-left: 773px;
    border: 7px solid #f8f8f8;
    border-radius: 10px;
  }

  .kurta4 {
    width: 295px;
    height: 295px;
    margin-top: -308px;
    margin-left: 1111px;
    border: 7px solid #f8f8f8;
    border-radius: 10px;
  }

  .kt1 {
    margin-top: 10px;
    margin-left: 10px;
    width: 277px;
    height: 278px;
  }

  .titl1 {
    margin-left: 10px;
    margin-top: 0px;
    font-size: 25px;
    color: black;
  }


  .infos2 {
    margin-left: 10px;
    margin-top: 4px;
    font-size: 16px;
    color: #483333;
  }

  .infos1 {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 18px;
    margin-bottom: 0px;
  }

  .lts1 {
    text-decoration: line-through;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 10px;
    font-weight: 400;
    color: #646262;
  }

  .prs1 {
    font-size: 30px;
    margin-left: 10px;
    margin-top: -10px;
    margin-bottom: 0px;
    color: #000000;
    font-weight: 600;
  }

  .list {
    width: 250px;
    height: 518px;
    margin-left: 0px;
    margin-top: -8px;
    background-color: whitesmoke;
    display: none;
    position: absolute;
  }

  .list p:hover {
    text-decoration: underline;
  }

  .k1 {
    font-size: 20px;
    margin-left: 20px;
    margin-top: 10px;
    color: black;
  }

  .k2 {
    font-size: 20px;
    margin-left: 20px;
    margin-top: -17px;
    color: black;
  }

  .k3 {
    font-size: 20px;
    margin-left: 20px;
    margin-top: -15px;
    color: black;
  }

  .k4 {
    font-size: 20px;
    margin-left: 20px;
    margin-top: -15px;
    color: black;
  }

  .k5 {
    font-size: 20px;
    margin-left: 20px;
    margin-top: -15px;
    color: black;

  }

  .k6 {
    font-size: 20px;
    margin-left: 20px;
    margin-top: -15px;
    color: black;
  }

  .k7 {
    font-size: 20px;
    margin-left: 20px;
    margin-top: -15px;
    color: black;
  }

  .k8 {
    font-size: 20px;
    margin-left: 20px;
    margin-top: -15px;
    color: black;
  }

  .k9 {
    font-size: 20px;
    margin-left: 20px;
    margin-top: -15px;
    color: black;
  }

  .k10 {
    font-size: 20px;
    margin-left: 20px;
    margin-top: -15px;
    color: black;
  }

  .k11 {
    font-size: 20px;
    margin-left: 20px;
    margin-top: -15px;
    color: black;
  }

  .k12 {
    font-size: 20px;
    margin-left: 20px;
    margin-top: -15px;
    color: black;
  }

  .k13 {
    font-size: 20px;
    margin-left: 20px;
    margin-top: -15px;
    color: black;
  }

  .k14 {
    font-size: 20px;
    margin-left: 20px;
    margin-top: -15px;
    color: black;
  }

  .k15 {
    font-size: 20px;
    margin-left: 20px;
    margin-top: -15px;
    color: black;
  }

  .k16 {
    font-size: 20px;
    margin-left: 20px;
    margin-top: -15px;
    color: black;
  }
}